body {
    background-color: #3C3E37 !important;    
    color: #FFFFFF !important;
    font-family: 'Roboto', sans-serif !important;   
    /* background-image: url("https://www.desktopbackground.org/download/o/2014/05/28/769561_wallpapers-dream-theater-descargar-imagenes-en-hd-de-todo-un-poco_1920x1200_h.jpg"); */
    
    /* background-image: url("https://img.wallpapersafari.com/desktop/1920/1080/89/38/TvWLhF.jpg"); */
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}

#task-list{
    background: rgba(32, 32, 29, 0.7) !important;
    border-radius: 30px;
    padding: 30px;
}
#finished-task-list{
    background: rgba(32, 32, 29, 0.7) !important;
    border-radius: 30px;
    padding: 30px;
}
#movies-to-see{
    background: rgba(32, 32, 29, 0.7) !important;
    border-radius: 30px;
    padding: 30px;
}
#seen-movies{
    background: rgba(32, 32, 29, 0.7) !important;
    border-radius: 30px;
    padding: 30px;
}
.card{
    background-color: rgba(32, 32, 29, 0.7) !important;
    border-radius: 10px !important; 
    margin-bottom: 20px !important;
    
    
}

.card-header{    
    font-weight: bolder;
    text-align: center;
}

p{
    white-space: pre-line;
}

.icon{
    height: 20px;
    margin: 5px;
}

.icon-medium{
    height: 30px;
    margin: 5px;
}
.icon-medium:hover{
    height:40px;
    margin: 0px;
}

.icon-big{
    height: 40px;
    margin: 5px;
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
}

.icon-big:hover{
    height:60px;
}

a, input[type="radio"]{
    cursor: pointer;
}

.btn-outline-light{
    /* border: solid thin white !important; */
    width:100%;
    border:none !important;
    

}

.border-rounded-left{
    border: solid thin white;
    border-radius: 10px 0px 0px 10px !important;
    
}

.border-rounded-right{
    border: solid thin white;
    border-radius: 0px 10px 10px 0px !important;
}

.modal{
    color: black;
    font-weight: bolder !important;
}

.mr-hamburger{
    margin-right: 40px !important;
}

.hidden{
    display: none !important;
}

.float-right{
    float: right !important;

}
.h-menu{
    height: 100% !important;
    width: 30% !important;
    margin-top: 0px !important;

}
.h-menu-content{
    height: 100% !important;
    width: 100% !important;
    background-image: linear-gradient(25deg, rgb(231, 63, 63),rgb(230, 120, 87), rgb(214, 226, 38)  );
    /* background-image: linear-gradient(25deg, #1f1f1f, #1f1f1f,#1f1f1f, rgb(231, 63, 63) ); */


}

.hm-btn:hover{
    font-size:25px !important;
    padding: 0% !important;
}

.fade {
    opacity: 60;
    -webkit-transition: opacity .20 linear !important;
    transition: opacity .20s linear !important;
}

.img-fit-to-card{
    height:60px;
    
}

.no-padding{
    padding:0px !important;
}

.display-3 {
    font-size: 52px !important;
    background: -webkit-linear-gradient(100deg, rgb(214, 226, 38), rgb(231, 63, 63), rgb(214, 226, 38)  );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
    font-weight: bolder !important;
  }
  .display-3:hover{
      font-size: 70px !important;
      padding: 0px;
  }
  .display-7{
    font-weight:bolder !important;
    background: -webkit-linear-gradient(100deg, rgb(214, 226, 38), rgb(231, 63, 63),rgb(214, 226, 38) );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;

  }

  .movie-plot-trunc{
      /* white-space:nowrap;
      overflow: hidden;
      text-overflow: ellipsis; */

      width: 90%;

      line-height: 20px;
      height: 60px;
      -webkit-box-orient: vertical;
      display: block;
      display: -webkit-box;
      overflow: hidden !important;
      text-overflow: ellipsis !important;
      -webkit-line-clamp: 3;      
  }

  .movie-title-trunc{
    white-space:nowrap;
    overflow: hidden;
    text-overflow: ellipsis; 
    text-align: center;
  }
 #add-movie-poster{
     height: 300px;
 }

